html,
body {
  height: 100%;
}
body {
  font-family: source-sans-pro, sans-serif;
  padding: 0;
  margin: 0;
}
#site {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  height: 100%;
}
#article {
  display: block;
  max-width: 500px;
  min-height: 100%;
  box-sizing: border-box;
  padding: 30px;
}
#image {
  width: 40%;
  background-image: url("http://opensourcedesign.is/img/haymarket-metro-station-escalator-shaft.jpg");
  background-repeat: none;
  background-size: cover;
}
h1 {
  font-family: league-gothic, sans-serif;
  font-size: 33px;
  text-transform: uppercase;
}
