@font-face {
  font-family: "open_sans";
  src: url("fonts/opensans/OpenSans-Semibold-webfont.eot");
  src: url("fonts/opensans/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans/OpenSans-Semibold-webfont.woff") format("woff"), url("fonts/opensans/OpenSans-Semibold-webfont.ttf") format("truetype"), url("fonts/opensans/OpenSans-Semibold-webfont.svg#open_sanssemibold") format("svg");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: "open_sans";
  src: url("fonts/opensans/OpenSans-ExtraBold-webfont.eot");
  src: url("fonts/opensans/OpenSans-ExtraBold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans/OpenSans-ExtraBold-webfont.woff") format("woff"), url("fonts/opensans/OpenSans-ExtraBold-webfont.ttf") format("truetype"), url("fonts/opensans/OpenSans-ExtraBold-webfont.svg#open_sansextrabold") format("svg");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: "open_sans";
  src: url("fonts/opensans/OpenSans-Light-webfont.eot");
  src: url("fonts/opensans/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans/OpenSans-Light-webfont.woff") format("woff"), url("fonts/opensans/OpenSans-Light-webfont.ttf") format("truetype"), url("fonts/opensans/OpenSans-Light-webfont.svg#open_sanslight") format("svg");
  font-weight: 200;
  font-style: normal; }
html {
  min-height: 100%;
  box-sizing: border-box;
  padding-bottom: 160px;
  position: relative; }

body {
  font-family: "open_sans";
  color: #3D3D3D;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 200;
  box-sizing: border-box;
  width: 100%; }

header.site {
  padding: 10px 10px;
  background: #F2F2F2;
  box-sizing: border-box;
  border-bottom: 1px solid #E6E6E6; }
  header.site .description {
    padding: 18px 0 0;
    font-size: 18px;
    font-weight: 200;
    text-align: center; }
  header.site h1 {
    width: 250px;
    position: relative;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center; }
    header.site h1 span {
      display: inline-block;
      width: 100%;
      overflow: hidden; }
      header.site h1 span:first-child {
        font-size: 36px;
        font-weight: 900; }
      header.site h1 span:last-child {
        font-size: 30px;
        font-weight: 600;
        color: white;
        background: #3D3D3D;
        padding: 4px 0 7px 0; }
  header.site .design-open-link {
    display: none; }

.design-open-link {
  font-size: 13px;
  text-align: center;
  width: 100%; }
  .design-open-link a {
    text-decoration: none;
    color: #4183C4; }
    .design-open-link a:hover {
      background: #4183C4;
      color: white; }

.login-container {
  display: none;
  position: relative;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 15px; }

.login-button {
  font-size: 16px;
  width: 225px;
  padding: 15px 0;
  border-radius: 5px;
  color: #4183C4;
  fill: currentColor;
  text-decoration: none;
  display: block;
  border: 1px solid #4183C4;
  background: transparent;
  text-align: center;
  font-weight: 600;
  margin: 18px 0; }
  .login-button svg {
    margin-right: 5px; }
  .login-button > * {
    vertical-align: middle; }
  .login-button:hover {
    background: #4183C4;
    color: white; }

main {
  width: 100%;
  order: 1;
  display: block; }

.projects {
  padding: 64px;
  max-width: 620px;
  position: relative;
  margin: 0 auto; }
  .projects header h3 {
    color: #808080;
    font-size: 13px;
    font-weight: 900;
    border-bottom: 1px solid #808080;
    padding-bottom: 11px; }

.project-item {
  height: 118px;
  border-bottom: 1px solid rgba(77, 77, 77, 0.1);
  position: relative;
  box-sizing: border-box;
  padding: 24px 0 0 90px; }
  .project-item .icon {
    position: absolute;
    left: 0;
    top: 18px; }
    .project-item .icon rect, .project-item .icon path {
      fill: currentColor; }
  .project-item .name {
    font-size: 48px;
    font-weight: 900; }
  .project-item .design-type {
    opacity: 0.5;
    font-size: 18px;
    font-weight: 900;
    position: relative;
    left: 3px; }
  .project-item .date {
    position: absolute;
    bottom: 25px;
    right: 0;
    font-weight: 600;
    font-size: 13px;
    text-align: right;
    color: #3D3D3D; }
  .project-item a {
    color: inherit;
    text-decoration: none; }

footer.site {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: #F2F2F2;
  border-top: 1px solid #e6e6e6;
  padding: 10px 0;
  height: 150px; }
  footer.site .login-container {
    display: inline-block;
    text-align: left; }

@media only screen and (min-width: 1024px) {
  body {
    padding-right: 300px;
    padding-bottom: 0; }

  header.site {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 300px;
    border-left: 1px solid #E6E6E6;
    border-bottom: none;
    box-sizing: border-box;
    padding: 40px 25px 0; }
    header.site .description {
      padding: 27px 12px 0;
      font-size: 20px;
      line-height: 24px;
      text-align: left; }
    header.site .design-open-link {
      display: block; }
    header.site .login-button {
      margin: 18px 0 0; }

  footer.site {
    display: none; }

  .login-container {
    position: absolute;
    left: 0;
    bottom: 58px;
    padding: 0 31px;
    display: block; }

  .design-open-link {
    display: block;
    position: absolute;
    left: 0;
    bottom: 5px; } }
