html,body
  height 100%
  padding 0
  margin 0
  font-family helvetica, sans-serif
body
  display flex
  flex-wrap nowrap
#sidebar
  min-width 100px
  background url('img/zwartevilt.png') #000
  width 40%
  opacity 0.95
#content
  height 100%
  width 60%
  background white
  box-sizing border-box
  min-width 500px
ol#bloglist
  margin 0
  padding 0
  list-style-type none
  & > li
    counter-increment item -1
    position relative
    height 120px
    &:before
      content:counter(item)
      color black
      text-align center
      position absolute
      left -115px
      background white
      width 100px
      height 100px
      border-radius 50px
      vertical-align middle
      display block
